[Unit]
Description=Check S3 for a new forecast bundle every 5 minutes

[Timer]
OnBootSec=30
OnUnitActiveSec=5min
AccuracySec=15s

[Install]
WantedBy=timers.target
